.post{
    margin-top: 5%;
    position: relative;
    width: 100%;
    margin-left: 30%;  
    
}
/* .postform{
    left: 5%;
    position: fixed;
    top: 30%;
} */
.userCard{
    left: 5%;
    position: fixed;
    top: 15%;
}
.topnav {
    background-color: rgb(22, 22, 22);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2514c0;
    color: white;
  }